@-webkit-keyframes chromatic {
    0%  {
        background: #FFFF99;
    }
    20%  {
        background: #99CC33;
    }
    40%  {
        background: #FFCC66;
    }
    60% {
        background: #CC99CC;
    }
    80% {
        background: #CCFF66;
    }
}

textarea::-webkit-input-placeholder {
    color: #4d4d4d;
}

body {
    margin: 0;
    padding: 0;
    -webkit-transition: background 1s ease-in;
}

.center {
    width: 600px;
    margin: 1em auto;
}

textarea {
    width: 600px;
    height: 400px;
    background: transparent;
    padding: 20px;
    border: transparent 1px dashed;
    border-radius: 10px;
    resize: none;
    outline: none;
    -webkit-transition: border 0.5s ease-in;
}

textarea:focus, textarea:hover {
    border: #808080 1px dashed;
}

textarea::active {
    font-size: 2em;
}

#color-selection, #text-selection {
    height: 3em;
    position: fixed;
    bottom: 0px;
}

#text-selection {
    right: 0px;
}

.colorBox {
    width: 3em;
    height: 3em;
    float: left;
}

.chromaticGradient {
    background: #FFFF99;
    -webkit-animation: chromatic 20s infinite linear;
}

.simpleColorAquamarine  {
    background: Aquamarine;
}

.simpleColorBisque {
    background: Bisque;
}

.simpleColorYellowGreen {
    background: YellowGreen;
}

.simpleColorThistle {
    background: Thistle;
}

.simpleColorPlum {
    background: Plum;
}

.simpleColorMistyRose {
    background: MistyRose;
}

.textModifierBox {
    height: 48px;
    width: 48px;
    margin-right: 2px;
    background-color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 0.6em;
    color: #B8B6B7;
    float: left;
    border-radius: 3px;
}

.arialFace {
    font-family: Arial;
}

.verdanaFace {
    font-family: Verdana;
}

.palatinoFace {
    font-family: Palatino Linotype;
}

.tahomaFace {
    font-family: Tahoma;
}

.lucidaFace {
    font-family: Lucida Grande;
}
